[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
semver = "*"

[packages]
django = ">=3.0,<4.1"
"python-jose[cryptography]" = "*"
requests = "*"

[requires]
python_version = "3.7"
